<div class="filter-container">
    <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select formControlName="month">
          <mat-option *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="month">{{ month }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of [2022, 2023, 2024]" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Taxi Type</mat-label>
        <mat-select formControlName="taxiType">
          <mat-option value="Yellow">Yellow</mat-option>
          <mat-option value="Green">Green</mat-option>
          <mat-option value="Fhv">Fhv</mat-option>
          <mat-option value="Fhvhv">Fhvhv</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field *ngIf="!isFhvSelected()">
        <mat-label>Minimum Fare</mat-label>
        <input matInput type="number" formControlName="minimumFare">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Search</button>
    </form>
  </div>
  